In [57]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from mlxtend.plotting import plot_decision_regions

sns.set_theme()

data = pd.read_csv("Gender Classification.csv") # Reading in the Gender Classification dataset

## Data
It is important to note that for this model, the dataset was modified to cleary separate the genders. More specifically, the gender column in the dataset was sorted alphabetically in order to easily focus on the attributes of each gender. The first 2502 rows are stricly female while the remaining rows are males. 

Lets take a look at the data.

In [68]:
data

,long_hair,Forehead Width (cm),Forehead Height (cm),nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,Gender
0,0,14.0,5.4,0,0,1,0,Female
1,1,13.5,5.9,0,0,0,0,Female
2,0,13.0,5.2,0,0,0,0,Female
3,1,11.9,5.4,1,0,1,1,Female
4,1,12.1,5.4,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,12.1,6.2,1,1,1,1,Male
4997,1,14.1,7.0,1,1,1,1,Male
4998,1,12.9,7.0,1,1,1,1,Male
4999,1,12.3,6.9,0,1,1,1,Male
5000,1,15.4,5.4,1,1,1,1,Male

-------------------------------------------------------------------------------------------------------------------------------------------------
We will begin by instantiating sub-data frames for the genders, male and female, to have all of their respectively attributes into a variable. For instance, their will be a female data frame that will contains all the rows and columns that belong to the female gender. The same will be done with the male gender.

In [67]:
"""
female_w = data.iloc[:100]["Forehead Width (cm)"]  # storing the width feature measurement of the first 100 rows (females)
female_h = data.iloc[:100]["Forehead Height (cm)"] # storing the height feature measurement of the first 100 rows (females)

male_w = data.iloc[:-100]["Forehead Width (cm)"]    # storing the width feature measurement of the last 100 rows (males)
male_h= data.iloc[:-100]["Forehead Height (cm)"]    # storing the height feature measurement of the last 100 rows (males)
"""

'\nfemale_w = data.iloc[:100]["Forehead Width (cm)"]  # storing the width feature measurement of the first 100 rows (females)\nfemale_h = data.iloc[:100]["Forehead Height (cm)"] # storing the height feature measurement of the first 100 rows (females)\n\nmale_w = data.iloc[:-100]["Forehead Width (cm)"]    # storing the width feature measurement of the last 100 rows (males)\nmale_h= data.iloc[:-100]["Forehead Height (cm)"]    # storing the height feature measurement of the last 100 rows (males)\n'

Lets see a visualization of the data