In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from mlxtend.plotting import plot_decision_regions # Import a nice function for plotting decision boudaries

sns.set_theme() # Set the Seaborn theme

data = pd.read_csv("Height of Male and Female by Country 2022.csv") # Read the iris dataset into a pandas DataFrame object

In [5]:
data

,Country Name,Male Height (cm),Female Height (cm),Male Height (ft),Female Height (ft)
0,Netherlands,183.78,170.36,6.03,5.59
1,Montenegro,183.30,169.96,6.01,5.58
2,Estonia,182.79,168.66,6.00,5.53
3,Bosnia and Herzegovina,182.47,167.47,5.99,5.49
4,Iceland,182.10,168.91,5.97,5.54
...,...,...,...,...,...
194,Mozambique,164.30,155.42,5.39,5.10
195,Papua New Guinea,163.10,156.89,5.35,5.15
196,Solomon Islands,163.07,156.79,5.35,5.14
197,Laos,162.78,153.10,5.34,5.02
198,Timor-Leste,160.13,152.71,5.25,5.01