In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from mlxtend.plotting import plot_decision_regions # Import a nice function for plotting decision boudaries

sns.set_theme() # Set the Seaborn theme

data = pd.read_csv("Height of Male and Female by Country 2022.csv") # Read the iris dataset into a pandas DataFrame object

In [5]:
data

,Country Name,Male Height (cm),Female Height (cm),Male Height (ft),Female Height (ft)
0,Netherlands,183.78,170.36,6.03,5.59
1,Montenegro,183.30,169.96,6.01,5.58
2,Estonia,182.79,168.66,6.00,5.53
3,Bosnia and Herzegovina,182.47,167.47,5.99,5.49
4,Iceland,182.10,168.91,5.97,5.54
...,...,...,...,...,...
194,Mozambique,164.30,155.42,5.39,5.10
195,Papua New Guinea,163.10,156.89,5.35,5.15
196,Solomon Islands,163.07,156.79,5.35,5.14
197,Laos,162.78,153.10,5.34,5.02
198,Timor-Leste,160.13,152.71,5.25,5.01

In [22]:
X = data['Male Height (ft)'].values
X

array([6.03, 6.01, 6.  , 5.99, 5.97, 5.97, 5.94, 5.94, 5.94, 5.94, 5.94,
       5.93, 5.93, 5.93, 5.93, 5.92, 5.92, 5.92, 5.91, 5.91, 5.9 , 5.89,
       5.88, 5.88, 5.87, 5.87, 5.87, 5.87, 5.87, 5.86, 5.86, 5.86, 5.86,
       5.86, 5.86, 5.86, 5.85, 5.85, 5.85, 5.83, 5.83, 5.82, 5.81, 5.81,
       5.81, 5.81, 5.81, 5.8 , 5.8 , 5.79, 5.79, 5.79, 5.79, 5.79, 5.79,
       5.78, 5.78, 5.78, 5.78, 5.77, 5.77, 5.77, 5.77, 5.76, 5.76, 5.76,
       5.76, 5.76, 5.75, 5.74, 5.74, 5.74, 5.74, 5.74, 5.74, 5.73, 5.73,
       5.73, 5.73, 5.73, 5.72, 5.72, 5.72, 5.72, 5.72, 5.72, 5.72, 5.71,
       5.71, 5.71, 5.71, 5.71, 5.71, 5.7 , 5.7 , 5.7 , 5.7 , 5.7 , 5.69,
       5.69, 5.69, 5.69, 5.68, 5.68, 5.68, 5.67, 5.67, 5.67, 5.65, 5.65,
       5.65, 5.65, 5.65, 5.64, 5.64, 5.64, 5.63, 5.63, 5.63, 5.63, 5.63,
       5.62, 5.62, 5.62, 5.61, 5.6 , 5.6 , 5.6 , 5.6 , 5.6 , 5.6 , 5.6 ,
       5.6 , 5.59, 5.59, 5.59, 5.59, 5.59, 5.59, 5.59, 5.58, 5.58, 5.58,
       5.57, 5.57, 5.57, 5.56, 5.56, 5.56, 5.56, 5.55, 5.54, 5.54, 5.54,
       5.54, 5.53, 5.53, 5.53, 5.53, 5.53, 5.52, 5.52, 5.52, 5.52, 5.52,
       5.52, 5.51, 5.51, 5.51, 5.5 , 5.5 , 5.49, 5.49, 5.49, 5.48, 5.48,
       5.47, 5.47, 5.46, 5.46, 5.46, 5.45, 5.45, 5.44, 5.43, 5.43, 5.42,
       5.42, 5.42, 5.42, 5.42, 5.39, 5.39, 5.39, 5.39, 5.35, 5.35, 5.34,
       5.25])

In [23]:
y = data['Female Height (ft)'].values
y

array([5.59, 5.58, 5.53, 5.49, 5.54, 5.56, 5.51, 5.54, 5.48, 5.49, 5.47,
       5.47, 5.52, 5.5 , 5.44, 5.46, 5.46, 5.47, 5.45, 5.48, 5.45, 5.35,
       5.44, 5.36, 5.4 , 5.37, 5.43, 5.44, 5.4 , 5.4 , 5.39, 5.45, 5.48,
       5.4 , 5.48, 5.42, 5.49, 5.46, 5.38, 5.4 , 5.4 , 5.42, 5.48, 5.5 ,
       5.44, 5.39, 5.36, 5.3 , 5.4 , 5.33, 5.43, 5.28, 5.33, 5.31, 5.29,
       5.38, 5.32, 5.45, 5.36, 5.32, 5.36, 5.33, 5.33, 5.36, 5.29, 5.35,
       5.36, 5.31, 5.45, 5.29, 5.33, 5.31, 5.25, 5.23, 5.27, 5.29, 5.29,
       5.29, 5.28, 5.32, 5.31, 5.37, 5.36, 5.35, 5.34, 5.29, 5.3 , 5.4 ,
       5.27, 5.32, 5.26, 5.29, 5.39, 5.3 , 5.24, 5.21, 5.34, 5.24, 5.25,
       5.25, 5.27, 5.29, 5.27, 5.32, 5.21, 5.23, 5.19, 5.27, 5.27, 5.24,
       5.26, 5.26, 5.2 , 5.29, 5.18, 5.32, 5.2 , 5.26, 5.23, 5.23, 5.19,
       5.37, 5.21, 5.24, 5.26, 5.24, 5.21, 5.24, 5.25, 5.13, 5.21, 5.23,
       5.17, 5.19, 5.25, 5.23, 5.24, 5.21, 5.18, 5.24, 5.19, 5.22, 5.28,
       5.11, 5.26, 5.2 , 5.09, 5.24, 5.18, 5.21, 5.15, 5.24, 5.2 , 5.16,
       5.2 , 5.13, 5.12, 5.19, 5.2 , 5.19, 5.31, 5.27, 5.21, 5.19, 5.21,
       5.1 , 5.11, 5.14, 5.06, 5.14, 5.16, 5.09, 5.08, 5.09, 5.09, 5.15,
       5.07, 5.08, 5.09, 5.16, 5.08, 5.06, 5.14, 5.12, 5.25, 5.14, 5.08,
       5.08, 5.06, 5.02, 5.  , 5.08, 5.  , 4.95, 5.1 , 5.15, 5.14, 5.02,
       5.01])